/*Edição da tela inicial*/
body {
    background: linear-gradient(135deg, #5c5050, #2a2a2a);
    color: #f5f5f5;
}

h1 {
    background: linear-gradient(90deg, #656564,#968a8a, #a4a2a2);
    background-clip: text;
    color: transparent;
}

.card {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(10px);
}

.op {
    opacity: 0.3;
}


.navbar {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.dropdown-menu .dropdown-item.active {
    background-color: #000;
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.hero-title {
    position: relative;
    overflow: visible !important;
}

.hero-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
    background-image: url("/images/logoManeira.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.30;
    z-index: -1;
}

/* Estilos customizados para as imagens e cards */
.product-image {
    max-height: 225px;
    /* Altura padrão do Album */
    object-fit: contain;
    width: 100%;
    padding: 10px;
    display: block;
}
#product-list .col {
  max-width: 260px;  
}

#product-list .card {
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
}

.card {
    height: 100%;
    margin-right: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.1rem;
    /* Dá espaço para títulos maiores */
    min-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilo para destacar o filtro de categoria ativo */
.filter-btn.active {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Estilo para os detalhes */

/*carrinho*/
